





body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  
}


:root {

  --backColor: rgb(195, 231, 17);
  --mainMargin: 10px;
}


.one {

  background-color: var(--backColor);
  margin: var(--mainMargin);
  
  
}

.two {
  
  background-color: var(--backColor);
  
  margin: var(--mainMargin);
  
}

.three {
  background-color: var(--backColor);
  margin: var(--mainMargin);
  
}
